.individualsForm__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.womenAndManButtons__wrapper {
    display: flex;
    gap: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.womenButton {
    height: 35px;
    width: 100px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 15px;
    background-color: rgb(226, 134, 229);
    color: white;
}
.womenButton:hover {
    background-color: rgb(165, 16, 192);
}

.menButton {
    height: 35px;
    width: 100px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 15px;
    background-color: rgb(0, 157, 255);
    color: white;
}
.menButton:hover {
    background-color: rgb(0, 55, 255);
}

.individualsForm__select {
    height: 30px;
    width: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.backAndNextButtons__wrapper {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 15px;
}

.backButton {
    height: 35px;
    width: 100px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 15px; 
}
.backButton:hover {
    background-color: rgb(222, 2, 2);
    color: white;
}

.nextButton {
    height: 35px;
    width: 100px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 15px; 
}
.nextButton:hover {
    background-color: rgb(222, 2, 2);
    color: white; 
}

.individualsButton {
    height: 45px;
    width: 150px;
    font-size: 20px;
    font-weight: 700;
    padding: 5px;
    border-radius: 15px; 
}
.individualsButton:hover {
    background-color: rgb(222, 2, 2);
    color: white; 
}