.newHeat__sizer {
    width: 100%;
}
 
.addAthleteButton-dezactive {
    display: none;
}

.addAthleteButton-active {
    display: block;
}

.addTeamButton-dezactive {
 display: none;
}

.addTeamButton-active {
    display: block;
}

.newHeat-wrapper {
    border: 2px solid orange;
    margin-bottom: 10px;
}
