.newHeat__sizer {
    width: 100%;
}

.athletesList {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.teamsList {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


 
.addAthleteButton-dezactive {
    display: none;
}

.addAthleteButton-active {
    display: block;
}

.addTeamButton-dezactive {
 display: none;
}

.addTeamButton-active {
    display: block;
}

.newHeat-wrapper {
    margin-bottom: 10px;
}

.newHeat__sizer {
    padding: 15px;
}
