.heats__wrapper {
    height: 44vh;
    width: 100%;
    margin-bottom: 20px;
    overflow-y: auto;
    
}

.heatsWrapper__sizer {
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

.addHeatButton {
    width: 150px;
    height: 40px;
    background-color: orange;
    font-size: 20px;
    font-weight: 700;
    border: 2px solid black
}
.addHeatButton:hover {
    background-color: rgb(255, 193, 79);
}