.competitions__wrapper {
    width: 100%;
    height: 89%;
}

.seperate__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
   
}

.competitionsSeperator {
    height: 30px;
    background-color: black;
}

.deleteCompButton__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    border-top: 1px solid rgba(132, 113, 3, 0.284);
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.deleteCompButton {
    height: 30px;
    width: 500px;
    font-size: 15px;
    font-weight: 700;
    padding: 5px;
    border-radius: 15px; 
    background-color: rgb(222, 2, 2);
    color: white;
}
.deleteCompButton:hover {
    background-color: rgb(144, 3, 3);
    cursor: pointer;
}