.competitions__wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.238);
}

.competitions__wrapper-neutralized {
    width: 100%;
    height: 100%;   
}

.seperate__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.deleteCompButton__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.deleteCompButton {
    height: 30px;
    width: 500px;
    font-size: 15px;
    font-weight: 700;
    padding: 5px;
    border-radius: 15px; 
    background-color: rgb(222, 2, 2);
    color: white;
}

.deleteCompButton:hover {
    background-color: rgb(144, 3, 3);
    cursor: pointer;
}

.competitions__seperator {
    height: 30px;
    background-color:#8080802b;
    width: 100%;
}