.newCompetition__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid lightgreen
}

.newHeat {
    border: 2px solid orange;
    width: 300px;
    height: 300px;
}

