.newCompetition__wrapper {
    display: flex;
    justify-content: space-between;
    border: 2px solid lightgreen
}

.newCompetitionButton__dezactive {
    display: none;
}

.newCompetitionButton__active {
    display: block;
}

.newHeat {
    border: 2px solid orange;
    width: 300px;
    height: 70px;
}