.newCompetition__wrapper {
    display: flex;
    justify-content: space-between;
    border: 2px solid lightgreen
}

.newCompetitionButton__dezactive {
    display: none;
}

.newCompetitionButton__active {
    display: block;
}