.athletesList__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.athleteElementActive {
    
}

table {
    max-width: 70vw;
}

th {
    min-width: 85px;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 1px;
    border-bottom: 1px solid lightgray; 
}

td {
    min-width: 85px;
    padding-top: 5px;
    padding-bottom: 3px;
    border-bottom: 1px solid red;
    border-right: 1px solid lightgrey;
    
}

.noBorder {
    border: none;
}

.name__flex-start {
   text-align: left;
}

.center {
    text-align: center;
}



