.athletesList__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.darkRed {
    background-color: darkred;
    color: white;
}

.black {
    background-color: black;
    color: white;
}

.name__flex-start {
   text-align: left;
}

.center {
    text-align: center;
}



