.correct {
    display: none;
}

.error {
    display: block;
    color: red;
    font-weight: 500;
}

.firstStepResults__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 20vh;
}


.listNameInput {
    width: 60vw;
    height: 7vh;
    margin-top: 20px;
    border-radius: 15px;
    padding: 10px;
    font-size: 25px;
}

.setListNameButton {
    margin-top: 20px;
    width: 25vw;
    height: 4vw;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 700;
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.setListNameButton-submited {
    margin-top: 20px;
    width: 25vw;
    height: 4vw;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 700;
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.setListNameButton:hover {
    background-color: rgb(0, 255, 17);
    color: black;
}

.icon-button {
    height: 30px;
    width: 30px;
    z-index: 1;
    position: relative;
}

.setListNameButton__title {
    z-index: 2;
    position: relative;
}

.icon-hidden {
    display: none;
}

.icon-active {
    display: block;
}