.correct {
    display: none;
}

.error {
    display: block;
    color: red;
    font-weight: 500;
}

.firstStepResults__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 20vh;
}


.listNameInput {
    width: 40vw;
    height: 40px;
    margin-top: 20px;
    border-radius: 15px;
    padding: 10px;
    font-size: 25px;
}

.setListNameButton {
    margin-top: 20px;
    width: 15vw;
    height: 3vw;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(10, 203, 61);
    color: white;
    cursor: pointer;
}

.setListNameButton:hover {
    background-color: rgb(0, 255, 17);
    color: black;
}
