.secondStep__wrapper {
    max-width: 100%;
    min-height: 82vh;
    display: flex;
    flex-direction: column;
    // background-color: #8080802b; 
}

.listName__wrapper {
    display: flex;
    justify-content: center; 
    padding-bottom: 10px; 
    // background-color: #8080802b; 
}

.listName {
    font-size: 35px;
    display: flex;
    justify-content: center;
    min-width: 200px;
    padding-bottom: 5px;
    border-bottom: 3px solid red;
}

.competitionContainer__wrapper {
    // overflow-y: auto;
    min-height: 70vh;
}

.secondStep__buttons {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 2vh;
}

.active {
    display: block;
}

.hide {
    display: none;
}