.secondStep__wrapper {
    max-width: 100vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
}

.listName__wrapper {
    display: flex;
    justify-content: center; 
    padding-bottom: 10px;  
}

.listName {
    font-size: 35px;
    display: flex;
    justify-content: center;
    min-width: 200px;
    padding-bottom: 5px;
    border-bottom: 3px solid red;
}

.competitionContainer__wrapper {
    min-height: 95%;
    overflow-y: auto;
    background-color: black;
}

.secondStep__buttons {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 2vh;
}

.active {
    display: block;
}

.hide {
    display: none;
}