.results__wrapper {
    width: 100vw;
    height: 70vh;
    border: 2px solid black;
    margin-top: 5vh;
    margin-left: 3vw;
    margin-right: 3vw;
    overflow-y: auto;
    background-color: rgba($color: #0e0e108a, $alpha: 1.0);
}

