.header {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    color: white;
    background-color: black;
}

.header__logo {
    width: 20vw;
    height: 10vh;
    font-weight: 700;
    color: white;
    font-size: 40px;
    background-color: black;
    margin-left: 1vw;
}

.header__nav-list {
    display: flex;
    gap: 3vw;
    list-style-type: none;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
    margin-left: 5vw;
}

li {
    font-size: 18px;
    padding: 15px;
    width: 100px;
    display: flex;
    justify-content: center;
}

li:hover {
    border-bottom: 2px solid red;
    background-color: rgba(240, 248, 255, 0.093);
}

.header__login-and-menu__wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 1vw;
    width: 100%;
    gap: 3vw;
}

.login__wrapper {
    padding: 15px;
}

.login__wrapper:hover {
    border-bottom: 2px solid red;
    background-color: rgba(240, 248, 255, 0.093);
}

.login {
    width: auto;
}

.menu__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 5vw;
}

.menu__wrapper:hover {
 background-color: rgba(240, 248, 255, 0.093);
 border-bottom: 2px solid red;
}

.menu-squeres__top {
    display: flex;
    gap: 3px;
    margin-bottom: 3px;
}

.menu-squeres__bottom {
    display: flex;
    gap: 3px;
}
 
.squere {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 20%;
}