.finalRelaysForm__wrapper {
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.clubAndCountryButtons__wrapper {
    display: flex;
    gap: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.clubButton {
    height: 30px;
    width: 100px;
    font-size: 15px;
    font-weight: 700;
    padding: 5px;
    border-radius: 15px; 
}
.clubButton:hover {
    background-color: red;
    color: white;
}

.countryButton {
    height: 30px;
    width: 100px;
    font-size: 15px;
    font-weight: 700;
    padding: 5px;
    border-radius: 15px;
    padding: 5px;    
}
.countryButton:hover {
    background-color: red;
    color: white;
}

.clubInput-active {
    display: flex;
    flex-direction: column;
}

.clubInput-dezactive {
    display: none;
}

.countrySelect-active {
    display: flex;
    flex-direction: column;

}

.countrySelect-dezactive {
    display: none;
}

.track__selectField {
    width: 50px;
}

.addTeamButton__wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.addTeamButton {
    height: 45px;
    width: 150px;
    font-size: 20px;
    font-weight: 700;
    padding: 5px;
    border-radius: 15px;
    margin-top: 20px; 
    background-color: rgb(140, 9, 247);
    color: white;   
}