.newCompAndConfirmListButtons__wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.newCompetitionButton {
    height: 45px;
    width: 200px;
    background-color: rgb(10, 203, 61);
    font-size: 20px;
    font-weight: 700;
    padding: 5px;
    border-radius: 15px;
    color: white;
}
.newCompetitionButton:hover {
    background-color: rgb(3, 139, 12);
}

.confirmListButton {
    height: 45px;
    width: 200px;
    font-size: 20px;
    font-weight: 700;
    padding: 5px;
    border-radius: 15px;
}
.confirmListButton:hover {
    background-color: rgb(222, 2, 2);
    color: white;
}